
.main
{
    height:400px;
    width: 200px;
    margin: auto;
}
@media screen and (max-width:450px) 
{
    *{
        margin:0;
        padding:0;
    }
    .main
    {
         height: 650px;
         width:90%;
         
         margin-left:auto;
         margin-right: auto;
         margin-top: 5%;
    }
    .img1
    {
        height:45%;
        width: 100%;
    }
    .img1 img
    {
        width: 100%;
        height:100%;
    }
    .container
    {
        padding-left: 10%;
        padding-top:2%;
        padding-bottom: 3%;
        background-image: url('bg1.jpg');
        background-repeat: no-repeat;
        background-attachment: fixed;  
        background-size: cover;
        
    }
    .container img
    {
        height:30px;
        width: 30px;
    }
    .container final
    {
        height:100%;
        width: 100%;
    }
    span
    {
        padding-left: 2%;
        padding-bottom: 1%;
        font-size:20px;
        clear: both;
        display: inline-block;
        overflow: hidden;
        white-space: nowrap;
    }
}